*.db
*.csv
*.log
*.pyc
*.pyo
*.pyclass
*.pyo
*.pyc
*.ipynb_checkpoints
*.ipynb
*.env
*.vscode
__pycache__
.DS_Store
*.wav
*.mp3
*.mp4
*.avi
*.mkv
*.zip
*.tar.gz
*.exe
*.dll
*.so
*.dylib
*.bak
*.tmp
.logs/